* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family:sans-serif;
  background-color: #212426;
}

.app {
  padding: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 4rem;
  color:rgb(224,224,244);
  width: fit-content;
}

.search {
  width: 50%;
  margin: 5rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
  flex: 1;
  border: none;
  font-size: 2rem;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding-right: 1rem;
  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}


.container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  width: 50em;
  height: 50em;
}

