* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family:sans-serif;

}

.app {
  padding: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f8fa;
}

h1 {
  font-size: 4rem;
  color: #333333;
  width: fit-content;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows:minmax(100px,auto);
  grid-gap: 10px;
  height: 100%;
  width: 100%;
}

.item {
  margin: 1.3rem;
  display: grid;
  place-items: center; /* shorthand for align-items: center; justify-items: center; */
  background-color: white;
}

h3{
  font-size: 1.2rem;
}

.text-container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;

}

.price{
  align-self: flex-end;
  font-weight: 900;
}

.input-group{
  width:max-content;
}
